{% extends "basic.html" %}

{% block body %}
  <div class="typewriter">
    <div class="typewriter-text" >This project was made by:-</div>
  </div>
<br>
  <div class="typewriter" >
    <div class="typewriter-text" style="color:green; font-size:35px;" > Name:- ABC</div>
  </div>
<br>
  <div class="typewriter">
    <div class="typewriter-text" style="color:orange ;font-size:35px;" > Email-Id: - abc@gmail.com</div>
  </div>
<br>
  <div class="typewriter">
    <div class="typewriter-text" style="color:blue ;font-size:35px;" > College:- ABC University</div>
  </div>

  {% endblock body %}